// Imports ...
@tailwind base;
@tailwind components;
@tailwind utilities;


@import "components/lending-footer", "components/lending-header",
"components/lending-middle", "components/lending-features",
"components/lending-planshet-version.scss",
"components/lending-mobile-version";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Basic HTML Styles ...
html,
body,
.main,
#root,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Пример использования шрифта */
body {
  font-family: "Inter", sans-serif;
}

#__next {
  overflow: auto;
}

body {
  overflow: visible;
  height: fit-content;
  background: #ffffff;
  height: 100%;
  margin: 0;
}

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  // color: #ffffff;
}

// Utility Classes ...
.test-background {
  background-color: aqua;
}

a {
  text-decoration: none;
  color: inherit;
}

.extra-margin-9 {
  margin: 0 9px;
}

.h-100 {
  height: 100%;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #f8f8fb;
}

.fill-height {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.background-color {
  background-image: linear-gradient(red, yellow);
}

.link {
  height: 45px;
}

.h-confirm {
  color: #111112;
  font-weight: 600;
}

.block_container div div img {
  height: 100%;
}

.block_container div:nth-child(1) div img {
  margin-top: 20px;
  height: 340px;
  object-fit: cover;
}

.block_container div:nth-child(2) div img {
  margin-top: 270px;

  height: 600px;
  object-fit: cover;
}

.block_container div:nth-child(3) div img {
  margin-top: 80px;
  height: 400px;
  object-fit: cover;
}

.block_container div:nth-child(4) div img {
  margin-top: 200px;
  margin-left: 30px;
  scale: 2;
  object-fit: cover;
}

.block_container div:nth-child(5) div img {
  margin-top: 250px;
  margin-right: 20px;
  scale: 2.3;
  object-fit: cover;
}

.block_container div:nth-child(6) div img {
  margin-top: 160px;
  margin-right: 20px;
  scale: 2.0;
  object-fit: cover;
}

.block_container div:nth-child(7) div img {
  margin-top: 235px;
  scale: 2;
  object-fit: cover;
}

.block_container div:nth-child(8) div img {
  margin-top: 210px;
  scale: 1.9;
  object-fit: cover;
}

.block_container div:nth-child(9) div img {
  margin-top: 210px;
  margin-left: 10px;
  scale: 1.9;
  object-fit: cover;
}
.block_container div:nth-child(10) div img {
  margin-top: 260px;
  margin-left: 10px;
  scale: 2.3;
  object-fit: cover;
}