.contact-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-card:hover {
    transform: scale(1.05);
  }
  
  .contact-card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(59, 130, 246, 0.5); /* bg-blue-500 с прозрачностью */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  
  .contact-card:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  