@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spin_slow {
  animation: spin 60s linear infinite;
  margin: auto;
  /* Медленное вращение */
}

.spin_fast {
  animation: spin 1s linear infinite;
  /* Быстрое вращение */
}

.spin_custom {
  animation: spin 2s linear infinite;
  /* Пользовательская скорость вращения */
}

@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0%);
  }
}

.marqueeContainer {
  position: relative;
  width: 110%;
  z-index: 100;
  padding-bottom: 10px;
}

.marquee {
  display: flex;
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2563eb;
  /* bg-blue-600 */
  padding: 5px 0;
  overflow: hidden;
}

.marquee span {
  display: inline-block;
  padding-right: 50px;
  /* Отступ между повторениями */
}

.first {
  transform: rotate(-4deg);
  overflow: hidden;
}

.first span {
  animation: marquee-right 45s linear infinite;
}

.second {
  transform: rotate(-7deg);
  margin-top: 10px;
  overflow: hidden;
}

.second span {
  animation: marquee-left 35s linear infinite;
}